It is not possible to link Telegram to an account due to the absence of a username in Telegram, please add it and use the /login command. If you do not do this, you will not receive notifications in telegram