{% include "en/header.j2" %}
✉️ <b>Email:</b> {{ user.email }} <br>
✅ <b>Verified:</b> {% if user.is_verified %} Yes {% else %} No {% endif %} <br>
🛒 <b>Max. number of orders:</b> {{ user.max_orders }} <br>
{% for payroll in user.payrolls %}
{% if payroll.type.value == "Phone" %}
📞 <b>Phone:</b> {{ payroll.value }} <br>
💰 <b>Bank:</b> {{ payroll.bank }} <br>
{% endif %}
{% if payroll.type.value == "Card" %}
💳 <b>Card number:</b> {{ payroll.value }} <br>
{% endif %}
{% if payroll.type.value == "Binance Email" %}
💸 <b>Binance Email:</b> {{ payroll.value }} <br>
{% endif %}
{% if payroll.type.value == "Binance ID" %}
💸 <b>Binance ID:</b> {{ payroll.value }} <br>
{% endif %}
{% endfor %}