{% include "en/header.j2" %}
✉️ <b>Email:</b> {{ user.email }} <br>
✅ <b>Verified:</b> {% if user.is_verified %} Да {% else %} Нет {% endif %} <br>
🛒 <b>Max. number of orders:</b> {{ user.max_orders }} <br>
{% if user.phone %}
📞 <b>Phone:</b> {{ user.phone }} <br>
💰 <b>Bank:</b> {{ user.bank }} <br>
{% endif %}
{% if user.bankcard %}
💳 <b>Card number:</b> {{ user.bankcard }} <br>
{% endif %}
{% if user.binance %}
💸 <b>Binance:</b> {{ user.binance }} <br>
{% endif %}