<b>Request to close Order#{{order.order_id}}</b> <br>
<br>
<b>From</b>: {{ user.name }}  @{{ user.telegram }} <br>
<b>Screenshot: </b> {{ url }} <br>
<b>Message: </b> {% if message|length > 15 %} <br> {% endif %}
{{ message }}