The user {{ user.name }} has logged in! Via <b>{{integration}}</b> <br>
{% if user.telegram %}
<b>Telegram: </b>@{{ user.telegram.username }} <br>
{% endif %}
{% if user.discord %}
<b>Discord: </b>{{ user.discord.username }} <br>
{% endif %}