Order #{{ order_id }} was removed from {{ payload.deleted|length }} channels! <br>
Integration: {{ integration }} <br>

{% if payload.error %}
<b>Error: </b> <br>
{{ payload.error_msg }} <br>
{% endif %}