Невозможно привязать телеграмм к учетной записи из-за отсутствия имени пользователя в телеграмм, пожалуйста добавьте его и используйте команду /login. Если этого не сделать вам не будут приходить уведомления в телеграмм