Авторизация прошла успешно. <br>
Ниже твои данные 👇 <br>
<br>
{% include "ru/user.j2" %}
{% if not user.is_verified %}
<br>
Напоминаю, что остальные возможности доступны, <br>
только верифицированным пользователям, <br>
чтобы запросить верификацию используй команду /request_verify
{% else %}
<br>
Удачного дня и побольше заказов 🚀🚀 <br>
<br>
Открыть меню /menu <br>
{% endif %}