Привет!<br>
<br>
Вы подали заявку на заказ #{{order.order_id}} и выбрали время начала в {% if res.extra.data %} {{res.extra.eta.seconds / 60}} {% else %} 0 {% endif %} мин.<br>
Вот полная информация о заказе. 👇<br>
<br>
{{rendered_order}}
<br>
<br>
Вот ваше приглашение на конференцию Discord, пожалуйста, присоединяйтесь и начните выполнять заказ. 👆<br>