{% include "ru/header.j2" %}
✉️ <b>Почта:</b> {{ user.email }} <br>
✅ <b>Верифицирован:</b> {% if user.is_verified %} Да {% else %} Нет {% endif %} <br>
🛒 <b>Макс. кол-во заказов:</b> {{ user.max_orders }} <br>
{% for payroll in user.payrolls %}
{% if payroll.type.value == "Phone" %}
📞 <b>Телефон:</b> {{ payroll.value }} <br>
💰 <b>Банк:</b> {{ payroll.bank }} <br>
{% endif %}
{% if payroll.type.value == "Card" %}
💳 <b>Номер карты:</b> {{ payroll.value }} <br>
{% endif %}
{% if payroll.type.value == "Binance Email" %}
💸 <b>Binance Email:</b> {{ payroll.value }} <br>
{% endif %}
{% if payroll.type.value == "Binance ID" %}
💸 <b>Binance ID:</b> {{ payroll.value }} <br>
{% endif %}
{% endfor %}