{% if order.info.region_fraction %}
<b>Region:</b> {{ order.info.region_fraction }}<br>
{% endif %}
{% if order.info.server %}
<b>Server:</b> {{ order.info.server }}<br>
{% endif %}
{% if order.info.character_class %}
<b>Class:</b> {{ order.info.character_class }}<br>
{% endif %}