{% if order.info.region_fraction %}
<b>Region:</b> {{ order.info.region_fraction }}<br>
{% endif %}
{% if order.info.server %}
<b>Server:</b> {{ order.info.server }}<br>
{% endif %}
{% if order.info.character_class %}
<b>Class:</b> {{ order.info.character_class }}<br>
{% endif %}
▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬<br>
{% if order.credentials.nickname %}
<b>Nickname:</b> {{ order.credentials.nickname }}<br>
{% endif %}
{% if order.credentials.login %}
<b>Login:</b> {{ order.credentials.login }}<br>
{% endif %}
{% if order.credentials.password %}
<b>Password:</b> {{ order.credentials.password }}<br>
{% endif %}
{% if order.credentials.vpn %}
<b>Vpn:</b> {{ order.credentials.vpn }}<br>
{% endif %}