{% if order.credentials.nickname %}
<b>Nickname:</b> {{ order.credentials.nickname }}<br>
{% endif %}
{% if order.credentials.login %}
<b>Login:</b> {{ order.credentials.login }}<br>
{% endif %}
{% if order.credentials.password %}
<b>Password:</b> {{ order.credentials.password }}<br>
{% endif %}
{% if order.credentials.vpn %}
<b>Vpn:</b> {{ order.credentials.vpn }}<br>
{% endif %}