<b>ETA:</b> 
{% if order.info.eta %} 
{{ order.info.eta }} 
{% else %}
?
{% endif %}
<br>
{% if order.price.price_booster_dollar %}
{% if order.price.price_booster_dollar and order.price.price_booster_gold %}
<b>Price:</b> {{ order.price.price_booster_gold|round(0) }}k gold ({{ order.price.price_booster_dollar|round(2) }}$)<br>
{% endif %}
{% else %} 
?
{% endif %}
{% if order.price.price_booster_dollar %}
{% if order.price.price_booster_dollar and not order.price.price_booster_gold %}
<b>Price:</b> {{ order.price.price_booster_rub|round(0) }}rub. ({{ order.price.price_booster_dollar|round(2) }}$)<br>
{% endif %}
{% else %} 
?
{% endif %}
