<b>User:</b> {{ user.name }} - @{{ user.telegram }} <br>
{% if response.text %}
<b>Message:</b> {{ response.text }}<br>
{% endif %}
{% if response.price %}
<b>Price:</b> {{ response.price }}<br>
{% endif %}
{% if response.start_date %}
<b>Start Date:</b> {{ response.start_date }}<br>
{% endif %}
{% if response.eta %}
<b>ETA:</b> {{ response.eta }}<br>
{% endif %}